<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration> <!-- 配置 -->
    <properties/> <!-- 属性 -->
    <settings><!-- 设置 -->
        <setting name="" value=""/>
    </settings>
    <typeAliases/><!-- 类型命名 -->
    <typeHandlers/><!-- 类型处理器 -->
    <objectFactory type=""/><!-- 对象工厂 -->
    <plugins><!-- 插件 -->
        <plugin interceptor=""></plugin>
    </plugins>
    <environments default=""><!-- 配置环境 -->
        <environment id=""><!-- 环境变量 -->
            <transactionManager type=""></transactionManager> <!-- 事务管理器 -->
            <dataSource type=""></dataSource> <!-- 数据源 -->
        </environment>
    </environments>
    <databaseIdProvider type=""/> <!-- 数据库厂商标识 -->
    <mappers/><!-- 映射器 -->
</configuration>