<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sean.mapper.UserMapper">

    <select id="findUser" resultType="com.sean.entity.User">
        SELECT *  FROM user
        <where>
            <choose>
                <when test="name != null">
                    name = #{name}
                </when>
                <when test="age != null">
                    age = #{age}
                </when>
                <otherwise>
                    mobile =#{mobile}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findUserByName" parameterType="java.lang.String" resultType="com.sean.entity.User">
        SELECT *  FROM user
        <trim prefix="where" prefixOverrides="and">
            <if test="name !=null">
                name like concat('%',#{name},'%')
            </if>
            and age=20
        </trim>
    </select>

    <!--使用xml语法转义：>为大于号“ >”; < 为小于号 “<” ;-->
    <select id="findUserByNameAndTime" parameterType="java.lang.String" resultType="com.sean.entity.User">
        SELECT *  FROM user
        <trim prefix="where" prefixOverrides="and">
            <if test="name !=null">
                name like concat('%',#{name},'%')
            </if>
            <![CDATA[ and create_time <= #{createTime}]]>
            and create_time &lt;= #{createTime}
        </trim>
    </select>

    <!--使用<![CDATA[]]>，因为CDATA 部分中的所有内容都会被解析器忽略，所以建议使用<![CDATA[]]>-->
    <!--<select id="findUserByNameAndTime" parameterType="java.lang.String" resultType="com.sean.entity.User">-->
        <!--SELECT *  FROM user-->
        <!--<trim prefix="where" prefixOverrides="and">-->
            <!--<if test="name !=null">-->
                <!--name like concat('%',#{name},'%')-->
            <!--</if>-->
            <!--<![CDATA[ and create_time <= #{createTime}]]>-->
        <!--</trim>-->
    <!--</select>-->

    <!-- like  使用bind -->
    <!--<select id="findUserByName2" parameterType="java.lang.String" resultType="com.sean.entity.User">-->
        <!--<bind name="pattern" value="'%' + name + '%'"></bind>-->
        <!--SELECT *  FROM user-->
        <!--<trim prefix="where" prefixOverrides="and">-->
            <!--<if test="name !=null">-->
                <!--name like #{pattern}-->
            <!--</if>-->
            <!--and age=20-->
        <!--</trim>-->
    <!--</select>-->

    <!-- like  使用 concat -->
    <!--<select id="findUserByName" parameterType="java.lang.String" resultType="com.sean.entity.User">-->
        <!--SELECT *  FROM user-->
        <!--<trim prefix="where" prefixOverrides="and">-->
            <!--<if test="name !=null">-->
                <!--name like concat('%',#{name},'%')-->
            <!--</if>-->
            <!--and age=20-->
        <!--</trim>-->
    <!--</select>-->


    <select id="findUserByAge" resultType="com.sean.entity.User">
        SELECT *  FROM user where age in
        <foreach item="age" index="index" collection="ageArray"
                 open="(" separator="," close=")">
            #{age}
        </foreach>
    </select>


    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into user (name,age,mobile,create_time)
        values(#{name},#{age},#{mobile},now())
    </insert>

    <update id="updateUserByName">
        update user
        <set>
            age = 20,
            <if test="gender.id == 1">
                mobile = 000,
            </if>
        </set>
         where name = #{name}
    </update>


    <delete id="deleteUser">
        delete from user where name=#{name}
    </delete>

</mapper>